* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #600;
    background: linear-gradient(135deg, #f06, #48f, #fa0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}


/* game display : */

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* end of border styling ↑ */


/* score and reset styling */

.score-window {
    color: white;
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.restart-btn button {
    top: 45%;
    right: 19%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

button {
    flex-basis: 48%;
    background-color: rgb(50, 12, 87);
    color: #fff;
    height: 40px;
    width: 70px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* background */

.sky {
    background-image: url(../images/flappyBird/fb-game-background.png);
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url(../images/flappyBird/bottom-background.png);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    /* position from top of parent element */
    z-index: 1;
}

.bird {
    background-image: url(../images/flappyBird/flappy-bird.png);
    /* background-color: yellow; */
    position: absolute;
    width: 60px;
    height: 45px;
}


/* styling obstacles */

.obstacle {
    background-image: url(../images/flappyBird/flappybird-pipe.png);
    /* background-color: green; */
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url(../images/flappyBird/flappybird-pipe.png);
    /* background-color: green; */
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

canvas {
    background: #eee;
    color: #48f;
    width: 80px;
    height: 30px;
}


/* Keyframe for background animation */

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}