* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #f06, #48f, #fa0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.score-panel {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 25px);
    height: calc(33.333% - 25px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 1px;
    background: #8dc8a677;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.front-face {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.reset-button,
.save-score-button {
    padding: 15px 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #80afcedd;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s;
}

.reset-button:hover .save-score-button:hover {
    background-color: #2980b9;
}

.container {
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .memory-game {
        width: 90%;
        height: auto;
    }
    .memory-card {
        width: calc(33.333% - 10px);
        height: calc(25% - 10px);
    }
    .reset-button,
    .save-score-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


/* Keyframe for background animation */

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}