@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-left: 200px;
}

.navbar .logo {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    background: -webkit-linear-gradient(45deg, #f06, #48f, #fa0);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    margin-bottom: 20px;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.9); /* רקע שקוף */
    backdrop-filter: blur(5px); /* אפקט טשטוש לרקע, עובד בדפדפנים חדשים */
    color: #ffffff71;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}


.user-info {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    color: #dddddd;
    margin-top: 20px;
    align-items: center; 
    font-family: 'Roboto', sans-serif;
}

.user-info div {
    margin: 5px 0;
}
.user-name, .last-login {
    font-weight: 700; 
    font-size: 18px; 
}